body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.field {
    min-width: 480px;
    min-height: 480px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
.field__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex: 1;
}
.cell {
    flex: 1;
    transition: all 0.15s;
    padding: 1px;
}
.cell__content {
    background-color: coral;
    height: 100%;
    width: 100%;
    position: relative;
}
.cell__content:hover {
    cursor: pointer;
}
.cell__cover {
    background-color: blanchedalmond;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: .15s;
}
.cell__cover_opened {
    transform: scale(0, 1);
    transform-origin: left;
    /*display: none;*/
}
.cell__arrowone, .cell__arrowtwo, .cell__bangone, .cell__bangtwo, .cell__bangthree {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    
}
.cell__arrowone i {
    color: red;
    transform: rotate(-90deg);
}
.cell__arrowtwo i {
    color: green;
    /*transform: rotate(-45deg);*/
}
.cell__bangone i {
    color: red;
    font-size: 2rem;
    transform: rotate(-25deg);
}
.cell__bangtwo i {
    color: yellow;
    font-size: 1.8rem;
}
.cell__bangthree i {
    color: orange;
    font-size: 1.5rem;
}