@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  margin: 0;
  border: 0;
}
body{
  font-family: 'Roboto', Verdana, sans-serif;
}
.material-icons {
    transform: scale(1.4);
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}
.field {
    min-width: 480px;
    min-height: 480px;
    width: 90vh;
    height: 90vh;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
.field__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex: 1;
}
.cell {
    flex: 1;
    transition: all 0.15s;
    padding: 1px;
}
.cell__content {
    background-color: coral;
    height: 100%;
    width: 100%;
    position: relative;
}
.cell__content:hover {
    cursor: pointer;
}
.cell__cover {
    background-color: blanchedalmond;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: .15s;
}
.cell__cover_opened {
    transform: scale(0, 1);
    transform-origin: left;
    /*display: none;*/
}
.cell__arrowred, .cell__arrowgreen, .cell__bangone, .cell__bangtwo, .cell__bangthree, .cell__flag, .cell__treasure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    
}
.cell__arrowred i {
    color: red;
}
.cell__arrowgreen i {
    color: green;
}
.cell__bangone i {
    color: red;
    font-size: 2rem;
    transform: rotate(-25deg);
}
.cell__bangtwo i {
    color: yellow;
    font-size: 1.8rem;
}
.cell__bangthree i {
    color: orange;
    font-size: 1.5rem;
}
.cell__flag i {
    color: red;
}
.cell__treasure i {
    color: gold;
}
.cell__arrow_up {
    align-items: flex-start;
}
.cell__arrow_down {
    align-items: flex-end;
}
.header, .footer {
    align-self: stretch;
    padding: 10px;
    text-align: center;
}
.header {
    display: flex;
    justify-content: space-around;
}
.footer {
    display: flex;
    justify-content: space-around;
}